
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="panel panel-info">
        <div class="panel-body">
            <div class="col-md-3">
                <a href="@Url.Action("Index","MgtDivision")"><i class="fa fa-check-square-o"></i> Division</a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Index","MgtStore")"><i class="fa fa-shopping-cart"></i> Store</a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Index","MgtAssetCategory")"><i class="fa fa-check-square-o"></i>Asset Category</a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Index","MgtAssetSubcategory")"><i class="fa fa-building-o"></i>Asset Category</a>
            </div>
        </div>
    </div>

</div>

@section PageHeader{

    Welcome to Dashboard
}
